global:
  scrape_interval: 5s      
  evaluation_interval: 5s  
  scrape_timeout: 4s       

scrape_configs:
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['app-performance-test:8080']  
        labels:
          application: 'java-clojure-performance-analyzer'
          instance: 'main-app'